$svg-common 
	background url("img/svg-sprite.svg") no-repeat

svg-cat()
	@extend $svg-common
	background-position 0 0
	width 663px
	height 696px

svg-glossy()
	@extend $svg-common
	background-position 0 40.46511627906977%
	width 624px
	height 484px

svg-godot()
	@extend $svg-common
	background-position 0 100%
	width 1024px
	height 1024px

