@import 'header'
@import 'footer'

ul
  li a
    display: inline-block
    color: blue
    padding: 5px
    html.ie &
      padding: 5px
    &:hover
      color: green


.phrase
	color blue
	background-color red 
	
	&:hover 
		background-color green